<div class="container-fluid admin_fluid">
    <h4 class="admin_dashboard">DASHBOARD</h4>
    <div class="container admin_wrap">
    <form action="/admin" method="post">
        <div class="admin_home row">
        
        <div class="col-md">
            <a href="">
                <h5><input type="submit" name="btn_admin" value="Users"></h5>
            </a>
        </div>
        <div class="col-md-4">
            <a href="">
                <h5><input type="submit" name="btn_admin" value="Posts"></h5>
            </a>
        </div>
        <div class="col-md">
            <a href="">
                <h5><input type="submit" name="btn_admin" value="Updates"></h5>
            </a>
        </div>
    </div>
    </form>
    <div class="admin_content">
        <div class="admin_users {{users_control}}">
            <h5>USERS</h5>
            <div>
                
                    <input type="button" value="new" class="btn" data-toggle="modal" data-target="#myModal">

            
            {{!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Small Modal</button> --}}

  <!-- Modal -->
  <div class=" container modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New User</h4>
        </div>
        <div class="modal-body">
          <form method="post" action="/register" class="card-body1">

                <div class="row">
                    <div class="col-md-6 mb-4">

                        <div class="form-outline">
                            <input placeholder="First Name" name="firstName" type="text" id="firstName"
                                class="form-control form-control-lg" />
                            {{!-- <label class="form-label" for="firstName">First Name</label> --}}
                        </div>

                    </div>
                    <div class="col-md-6 mb-4">

                        <div class="form-outline">
                            <input placeholder="Last Name" name="lastName" type="text" id="lastName"
                                class="form-control form-control-lg" />
                            {{!-- <label class="form-label" for="lastName">Last Name</label> --}}
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-4 d-flex align-items-center">

                        <div class='input-group date form-outline' id='datetimepicker5'>
                            <input placeholder="Date of birth" name="DOB" type='text' class="form-control" />
                            {{!-- <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span> --}}
                            {{!-- <label class="form-label" for="datetimepicker5">Date of birth</label> --}}
                        </div>

                    </div>
                    <div class="col-md-6 mb-4 form-outline">

                        <h6 class="mb-2 pb-1">Gender: </h6>

                        <div class="form-check form-check-inline">
                            <input placeholder="Gender" class="form-check-input" type="radio" name="gender" id="female"
                                value="female" checked />
                            <label class="form-check-label" for="female">Female</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input placeholder="Gender" class="form-check-input" type="radio" name="gender" id="male"
                                value="male" />
                            <label class="form-check-label" for="male">Male</label>
                        </div>


                    </div>
                </div>

                                <div class="row">
                    <div class="col-md-6 mb-4 d-flex align-items-center">

                        <div class='input-group date form-outline' id='datetimepicker5'>
                            <input placeholder="Password" name="password" type='password' class="form-control" />
                            {{!-- <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span> --}}
                            {{!-- <label class="form-label" for="datetimepicker5">Date of birth</label> --}}
                        </div>

                    </div>
                    <div class="col-md-6 mb-4 form-outline">

               

                        <div class="input-group date form-outline">
                                                        <input placeholder="Re-type Password" name="password2" type='password2' class="form-control" />

                        </div>



                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-4 pb-2">

                        <div class="form-outline">
                            <input placeholder="Email" name="email" type="email" id="email"
                                class="form-control form-control-lg" />
                            {{!-- <label class="form-label" for="emailAddress">Email</label> --}}
                        </div>

                    </div>
                    <div class="col-md-6 mb-4 pb-2">

                        <div class="form-outline">
                            <input placeholder="Phone Number" name="phone" type="text" id="phone"
                                class="form-control form-control-lg" />
                            {{!-- <label class="form-label" for="phoneNumber">Phone Number</label> --}}
                        </div>

                    </div>
                    <div class="row">
                    <div class="col-md-6 mb-4 pb-2">

                        <div class="form-outline">
                            <input placeholder="Upload an image" type="file" name="avator" id="avator">
                            {{!-- <label class="form-label" for="avator">Upload an image</label> --}}
                        </div>
                    </div>
                     <div class="col-md-6 mb-4 pb-2">
                                <div class="form-outline">
                                    <select id="inputState" class=" form__input" name="role">
                                    <option selected>User</option>
                                    <option>Admin</option>
                                </select>
                                </div>
                            </div>
                </div>
                </div>

                

                <div class="mt-4 pt-2">
                    <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
                </div>

                

            </form>
        </div>
        <div class="modal-footer">
          <button type="button btn-sm" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">userId</th>
                        <th scope="col">Names</th>
                        <th scope="col">DOB</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col"> Role</th>
                        <th scope="col"> Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each results}}
                        <tr>
                        <th scope="row">{{userid}}</th>
                        <td>{{firstname}} {{lastname}}</td>
                        <td>{{dob}}</td>
                        <td>{{gender}}</td>
                        <td>{{email}}</td>
                        <td>{{phone}}</td>
                        <td>{{userole}}</td>
                        <td><img src="{{avator}}" alt=""></td>
                        <td><select id="inputState" class=" form__input form-control-sm" name="userType">
                                <option >Edit</option>
                                <option>Delete</option>
                                <option>Verify</option>
                            </select></td>
                    </tr>
                    {{/each}}
                    

                </tbody>
            </table>
        </div>
        <div class="admin_posts {{posts_control}}">
            <h5>POSTS</h5>
             <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">userId</th>
                        <th scope="col">postId</th>
                        <th scope="col">post Content</th>
                        <th scope="col">Post Date</th>
                        <th scope="col"> Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>001</td>
                        <td>crimes in sandon</td>
                        <td>22 Jun 2012</td>
                        <td><select id="inputState" class=" form__input form-control-sm" name="userType">
                                <option >Edit</option>
                                <option>Delete</option>
                                <option>Verify</option>
                            </select></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>002</td>
                        <td>Tips from experts</td>
                        <td>12 Jul 2020</td>
                        <td><select id="inputState" class=" form__input form-control-sm" name="userType">
                                <option selected>Edit</option>
                                <option>Delete</option>
                                <option>Verify</option>
                            </select></td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="admin_updates {{updates_control}}">
            
            <h5>UPDATES</h5>
            <div>
                
                <form action="" method="post">
                      

                    <input type="button" value="new" class="btn" data-toggle="modal" data-target="#myModal">

            </form>
            <div class="update_input">
            <form action="/post_update" method="post">
            <div>
                <input type="text" name="tittle" id="" placeholder="Tittle">
                <div class="d-flex justify-content-center">
              <div class="btn btn-mdb-color btn-rounded float-left">
                <span>Supporting Media</span>
                <input type="file" name="image">
              </div>
            </div>
                <textarea class="txtpost" name="content" id="" cols="50" rows="5"
                    placeholder="Post an update!"></textarea>
            </div>
            <div class="">
                <button type="submit" class=" btn-sm update_btn">Share</button>
            </div></form>
        </div>
            
            </div>
             <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">updateId</th>
                        <th scope="col">Tittle</th>
                        <th scope="col">Content</th>
                        <th scope="col">date</th>
                        <th scope="col">Media</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                   {{#each results}}
                    <tr>
                        <th scope="row">{{updateid}}</th>
                        <td>{{tittle}}</td>
                        <td>{{post_content}}</td>
                        <td>{{created_on}}</td>
                        <td>{{image}}</td>
                        
                        <td><select id="inputState" class=" form__input form-control-sm" name="userType">
                                <option >Edit</option>
                                <option>Delete</option>
                                <option>Verify</option>
                            </select></td>
                    </tr>
                 
                    {{/each}}
                </tbody>
            </table>
        </div>

    </div>
</div>
</div>